@charset "UTF-8";

@keyframes appear {
    from { 
        opacity: 0;
       transform: translateY(100px); 
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appear2 {
    from { 
        opacity: 0;
       transform: translateX(-50px); 
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear3 {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: linear-gradient(135deg,#EDE9E0,#8f8d88);
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 130px;
    width: 100vw;
    background: linear-gradient(135deg,#151e27, #2C3E50,#2C3E50,#2C3E50);
    box-shadow: 1px 1px 5px 1px #C9A339;
    z-index: 1;
}

header img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 2px 1px #B48A30;
    animation: appear2 linear;
    animation-duration: .5s;
    
}

header a {
    color: #B48A30;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    transition: .5s;
    text-shadow: 1px 1px 1px black;
    padding: 52px 20px 50px 20px;
   
}

header a:hover{
    border-style: none none solid none;
    padding: 52px 20px 50px 20px;
}

#resto{
    margin-top: 170px;
}

.Banner{
    display: block;
    height: 600px;
    width:90vw;
    margin: auto;
    background: url(midia/Ouro_Representacao2.png);
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px 0px;
    animation: appear3 linear;
    animation-duration: 1s;
}

.parceiras{
    color: #B48A30;
    width: 90vw;
     background: linear-gradient(to bottom, #2C3E50,#2C3E50,#2C3E50);
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 2px 1px black;
}

.Empresas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    background-color: #EDE9E0;
    width: 90vw;
    max-height: 2000px;
    margin: auto;
     border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    transition: 1s;
}

.Icons{
    height: 350px;
    width: 250px;
    margin-top: 50px;
    background: linear-gradient(to bottom,#151e27, #2C3E50,#2C3E50,#2C3E50);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    transition: .5s;
}

.Icons:hover{
    transform: translateY(-8px);
}

.Icons a {
    text-decoration: none;
}

.Icons h1{
    color: #B48A30;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 20px 0px 0px 0px;
    transition: .5s;
    
}

.Icons:hover h1{
    text-decoration: underline;
}

#um{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

#fotoUm {
    background-image: url(midia/logo-lanchero-azul-1080x1080-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 10px;
    height: 70%;
    width:100%;
    box-shadow: inset 0px 0px 15px #1b2631;
    transition: 0.5s;
}

.Icons:hover #fotoUm{
    background-image: url(midia/cap3.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

body:has(#um:hover) header {
    background: linear-gradient(135deg,#CF3B2B,#A5483E,#2C3E50,#2C3E50);
    box-shadow: 1px 1px 5px 1px black;
}


#dois{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

#tres{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

#quatro{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

#cinco{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#seis{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

#sete{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

#oito{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@media screen and (max-width:800px){
.Banner{
    height: 30vh;
}

header a{
    font-size: 1em;
}

.Icons{
    height: 175px;
    width:125px;
}

.Icons h1{
    font-size:0.8em;
}

.parceiras{
    font-size: 3em;
}

}